<mat-card>
  <mat-card-header>
    <mat-card-title>Quiz Challenge Component</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <h3>Nice! Tried and succeeded lazy loading of components</h3>
    <p>quiz-challenge works! quiz-challenge works! quiz-challenge works! quiz-challenge works! quiz-challenge works!
      quiz-challenge works! quiz-challenge works! quiz-challenge works! quiz-challenge works! quiz-challenge works!
      quiz-challenge works! quiz-challenge works! quiz-challenge works! quiz-challenge works! quiz-challenge works!
      quiz-challenge works! quiz-challenge works! quiz-challenge works! quiz-challenge works! quiz-challenge works!
      quiz-challenge works! quiz-challenge works! quiz-challenge works! quiz-challenge works! quiz-challenge works!
      quiz-challenge works! quiz-challenge works! quiz-challenge works! quiz-challenge works! quiz-challenge works!
      quiz-challenge works! quiz-challenge works! quiz-challenge works! quiz-challenge works! quiz-challenge works!
      quiz-challenge works! quiz-challenge works! quiz-challenge works! quiz-challenge works! quiz-challenge works!
      quiz-challenge works! quiz-challenge works! quiz-challenge works! quiz-challenge works! quiz-challenge works!
      quiz-challenge works! quiz-challenge works! quiz-challenge works! quiz-challenge works! quiz-challenge works!
      quiz-challenge works! quiz-challenge works! quiz-challenge works! quiz-challenge works! quiz-challenge works!
      quiz-challenge works! quiz-challenge works! quiz-challenge works! quiz-challenge works! quiz-challenge works!
      quiz-challenge works! quiz-challenge works! quiz-challenge works! quiz-challenge works! quiz-challenge works!
      quiz-challenge works! quiz-challenge works! quiz-challenge works! quiz-challenge works! quiz-challenge works!
      quiz-challenge works! quiz-challenge works! quiz-challenge works! quiz-challenge works! quiz-challenge works!
      quiz-challenge works! quiz-challenge works! quiz-challenge works! quiz-challenge works! quiz-challenge works!
      quiz-challenge works! quiz-challenge works! quiz-challenge works! quiz-challenge works! quiz-challenge works!
      quiz-challenge works! quiz-challenge works! quiz-challenge works! quiz-challenge works! quiz-challenge works!
      quiz-challenge works! quiz-challenge works! </p>
  </mat-card-content>
</mat-card>
