<mat-toolbar [color]="'primary'"></mat-toolbar>

<div style="margin-top: 20px; text-align: center;">
  <button mat-raised-button [color]="'primary'" (click)="loadLazyQuiz()">Load Lazy Quiz</button>
</div>

<div style="text-align: center; margin-top: 30px;">
  <mat-progress-spinner *ngIf="isLoadingLazyComponent" style="display: inline-block;" [mode]="'indeterminate'"
    [diameter]="70"></mat-progress-spinner>
</div>

<div class="content">
  <ng-container #lazyQuizContainer></ng-container>
</div>
